// colors
$main: #6e860f;
$light-green: #93ad18;
$dark: #5a6f07;
$background: #e7ebdc;
$light-grey: #bcbcb8;
$dark-gey: #4c4c4c;
$darkest: #444444;

// fonts
$font: 'Roboto', sans-serif;
$light: 100;
$regular: 300;
$bold: 500;
