@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font;

  a {
    color: black;
    text-decoration: none;
  }

  h1 {
    font-weight: $bold;
    color: $dark;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-green;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    &__fa {
      color: $dark;
      height: 15px;
    }
  }
}
