@import '../../assets/style/variables';

.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  justify-content: space-between;

  &__main {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__logo {
    width: 124px;
    height: 124px;
  }

  &__title {
    text-align: left;
  }

  &__nav {
    display: flex;
    gap: 35px;
    font-weight: $regular;
    text-align: right;
    padding-right: 10px;
  }

  @media (max-width: 720px) {
    align-items: start;
    &__main {
      flex-direction: column;
    }
    &__nav {
      padding-top: 24px;
      flex-direction: column;
      justify-content: end;
      gap: 12px;
    }
  }
}
