@import '../../assets/style/variables';

.container {
  margin-top: 20px;
  width: '100%';
  border-collapse: collapse;
}
.header {
  &__controls {
    display: flex;
    justify-content: space-between;
    &--search {
      &--label {
        display: none;
      }
      &--input {
        position: absolute;
        width: 19%;
        height: 40px;
        border-radius: 5px;
        border: solid $background;
        background-color: $background;
        color: $dark-gey;
        font-weight: $light;
        margin-left: -10px;
        padding-left: 30px;
      }

      &--icon {
        position: relative;
        color: $dark;
        top: 10px;
        left: 15px;
        z-index: 100;
      }
    }
    &--pages {
      display: flex;
      align-items: center;
      color: $dark-gey;
      font-weight: $light;

      &--select {
        margin: 0px 5px 0px 5px;
        height: 40px;
        border-radius: 5px;
        border: solid $background;
        background-color: $background;
        color: $dark-gey;
        font-weight: $light;
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  &__header {
    text-align: left;

    height: 43px;
    &--row {
      padding-left: 10px;
      font-weight: $bold;
    }
  }
  &__col {
    width: 120px;
    text-align: left;
    padding-left: 10px;
    font-weight: $regular;
  }

  &__row {
    height: 43px;
  }

  &__row:nth-child(even) {
    background-color: $background;
    color: $dark-gey;
  }

  &__seeUser {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: $regular;
    text-decoration: underline;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: $light;
    font-size: 0.75rem;
    &--pagination {
      &--btn {
        padding-left: 5px;
        background-color: white;
        color: $dark-gey;
        border: none;
      }
    }
  }
}

.sort-icon {
  padding: 15px;
  line-height: 50%;
}
